/*customização para o menu fixo*/
body {
  font-family: 'Didact Gothic', sans-serif; 
  padding-top: 70px;
}
h1,h2,h3,h4{font-family: 'Didact Gothic', sans-serif;}
.navbar-inverse{
	background-color: rgba(0, 0, 0, .8);
}
.navbar-inverse a {color:#f5f5f5;}
#banner{margin-top: -20px;}

.banner-home{width:100%;}
	.banner-home img{width:100%;}

.post-img{width:350px;}

/** **/
.logo{
	margin-top:-8.5em;
	text-align: center;
	display:block;
	width:450px;
	color:#fff;
}
.logo a{color:#fff;text-decoration:none;}

.text-right{
	text-align: right;
}